@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Londrina+Shadow&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.page{
  background-color: #ffca00;
  width: 100%;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;


}

header{
  font-weight: 500;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 30px;


}

.workspace{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.right-section{
  width: 800px;
}
.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 0px #000000;
  border: 2px solid #000000;
  font-family: inherit;
}

.right-card{
  width: 100%;
}

.input-title{
  margin-bottom: 10px;
  padding: 10px;
  font-family: inherit;
  border-radius: 5px;

}

.input-snippet{
  margin-bottom: 10px;
  padding: 10px;
  font-family: inherit;
  resize: none;
  border-radius: 5px;


}

.add-snippet-btn{
  width: fit-content;
  align-self: center;
  padding: 10px;
  background-color: #34da34;
  font-family: inherit;
  border-radius: 5px;



}

.create-snippet-heading{
  font-size: 10px;
  margin-bottom: 5px;
}

.languages-drop-down{
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 10px;
  font-family: inherit;


}



.all-tags{
  display: flex;
  align-items: stretch;

}
.language-tags{
  list-style: none;
  display: flex;
}
.language-tags li{
  display: flex;
  align-items: stretch;
}

.right-card-snippet{
  height: 100px;
  word-wrap: break-word;
  overflow-y: auto;
}