.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffca00;

}
header{
  /*background-color: #ffca00;*/
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 3px solid #000000;
}
.header-left{
  display: flex;
  align-items: center;
}
.header-icon{
  background-color: #000000;
  padding: 10px;
  color: #ffca00;
  border-radius: 5px;
  margin-right: 5px;
  font-family: Cambria;
  font-size:20px;
  font-weight: bold;

}
.header-name{
  font-size: 25px;
  font-weight: bold;
}

.workspace{
  /*background-color: #ffca00;*/
  width: 100%;
  height: 100%;
  display: flex;
}
.left-section{
  /*background-color: #e69c47;*/
  padding: 15px;
  width:fit-content;
  border-right: 3px solid #000000;

}
.right-section{
  /*background-color: #bcf6f8;*/
  width: 100%;
  overflow-y: auto;
}
.placeholder{
  background-color: #ffffff;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placeholder-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;

}

.placeholder-logo{
  font-size: 50px;
  margin-bottom: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 0px #000000;
  border: 2px solid #000000;
  margin: 0px;
}


.add-snippet-card{
  background-color: #c6a3fd;
  width:250px;
  @media(max-width: 800px){
    width:150px;
  }

}
.add-snippet-heading{
  font-size: 10px;
  margin-bottom: 5px;
}

.add-snippet-btn{
  white-space: nowrap;
  align-self: center;
  padding: 10px;
  background-color: #34da34;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #000000;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;

}

.card-inputs{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  outline: none;
  transition: 0.2s ease-in-out;
}

.clicked{

  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 0px #000000;

}


.input-snippet{
  resize: none;
  margin-bottom: 0px;
}
.right-section{
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 100px;
}


.all-tags{
  display: flex;
  /*background-color: #ea2929;*/
  margin-bottom: 10px;
  flex-wrap: wrap;

}
.language-tags{
  display: flex;
  list-style: none;
  /*background-color: #2966ea;*/
  flex-wrap: wrap;
}
.language-tags li{
  display: flex;
}



.tag-btns{
  margin-right:5px;
  border-radius: 5px;
  padding: 0px;
  padding-inline: 7px;
  padding-block: 3px;
  box-shadow: 2px 2px 0px #000000;
  background-color: #ffffff;
  transition:0.2s ease-in-out;


}

.tag-btns:hover:not(.selected-snippet){
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 0px #000000;
}


.snippets-count-label{
  background-color: black;
  color: #ffca00;
  padding: 10px;
  font-weight: bold;
}

.right-card{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  overflow: hidden;


}

.right-card-heading{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 15px ;
  align-items: center;
  border-bottom: 2px solid #000000;

}
.right-card-title-and-language{
  display: flex;
  align-items: center;

}

.right-card-title-label{
  font-weight: bold;
  padding-right: 5px;
}

.right-card-language-label{
  padding-inline: 7px;
  padding-block: 2px;
  background-color: #ffca00;

  border-radius: 5px;
  border: 2px solid #000000;
  font-weight: bold;
  font-size: 14px;

}

.date{
  color: #504e4e;
}

.right-card-snippet{
  background-color: #4a4848;
  color: #c8cccc;
  font-family:"Courier New";
  padding: 10px;
  padding-inline: 15px ;
  min-height: 50px;
  max-height: 100px;
  word-wrap: break-word;
  overflow: auto;
  border-bottom: 2px solid #000000;
  font-weight: 550;

}

.snippet-operations{
  display: flex;

}
.snippet-operations button{
  padding: 10px;
  border: none;
}

.snippet-operations .copy-btn{
  flex-grow: 1;
  background-color: #c7a3fd;
  border-right: 2px solid #000000;


}
.delete-btn{
  flex-grow: 1;
  background-color: #ff6b6b;
}

.selected-snippet{
  background-color: #000000;
  color: #ffca00;
  box-shadow: none;

}

