@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Londrina+Shadow&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    box-sizing: border-box;
    overflow: hidden;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;

}
button{
    cursor: pointer;
}